<!DOCTYPE html>
<html>
<head>
	<title>Efficient Python</title>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
	<div class="iconnav">
	  <img src="{{ bot.user.avatar_url_as(format="png", size=64) }}"></img>
		{% for guild in bot.guilds %}
			<a href="#" onclick="profile({{ '"{0}"'.format(guild.id) }})""><img src="{{ guild.icon_url_as(format="png", size=64) }}"></a>
		{% endfor %}
	</div>

	<div class="sidenav">
	  <a href="#">STDOUT</a>
	  <a href="#">STDERR</a>
	  <a href="#">APPLOG</a>
	  <a href="#">MEMBERS</a>
	</div>

	<div class="main" id="main"></div>
</body>
</html>
