[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = {editable = true,extras = ["voice"],git = "https://github.com/Rapptz/discord.py"}
click = "*"
jishaku = "*"

[requires]
python_version = "3.7"
